@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

/* *{
    border: 1px dashed red;
}

body{
    border: 2px dashed green;
} */

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.light-orange-bg{
    background-color: rgba(255, 144, 14, 0.10);
}

.text-dark-2{
    color: #424242;
}

.text-dark-3{
    color: #727272;
}


.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

/* responsive style */

.navbar-section, .banner-section{
    max-width: 1440px;
    margin: 0px auto;
}

/* header-section */



/* navbar styles */

.brand-name{
    font-size: 3rem;
}

.navbar-section{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 100px;
}

.nav-item{
    list-style: none;
    font-size: 1.125em;
}

.nav-item > a{
    text-decoration: none;
    font-weight: 500;
}

.nav-links{
    gap: 50px;
}

/* banner section */
.banner-content{
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    text-align: center;
    margin: 0px 290px 0px;
    padding: 0px 70px;
    font-weight: 700;
}

.banner-description{
    text-align: center;
    margin: 16px 285px 32px;
}

.explore-more-btn{
    justify-content: center;
}

.banner-image{
    width: 100%;
}

/* media query */

@media screen and (max-width:576px) {
    .navbar-section{
        flex-direction: column;
        gap: 25px;
    }
    
}