@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

/* *{
    border: 1px dashed red;
}

body{
    border: 2px dashed green;
} */

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ids */
#quick-list-style{
    color: #727272;
    font-weight: 400;
}

#features-style{
    color:#FF900E;
}

/* shared styles */
.display-flex{
    display: flex;
}

.light-orange-bg{
    background-color: rgba(255, 144, 14, 0.10);
}

.text-dark-2{
    color: #424242;
}

.text-dark-3{
    color: #727272;
}


.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

main{
    margin: 85px 0px 50px;
}

main > section{
    margin-bottom: 130px;
}

/* responsive style */

.navbar-section, .banner-section{
    max-width: 1440px;
    margin: 0px auto;
}


/* .team-image{
    width: 100%;
}

.team-feature-details{
    width: calc(100% - 100px);
} */


/* header-section */



/* navbar styles */
.header-section{
    padding: 50px 0px 30px;
}


.brand-name{
    font-size: 3rem;
}

.navbar-section{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.nav-item{
    list-style: none;
    font-size: 1.125em;
}

.nav-item > a{
    text-decoration: none;
    font-weight: 500;
}

.nav-links{
    gap: 3rem;
}

/* banner section */
.banner-content{
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    text-align: center;
    /* margin: 0px 290px 0px;
    padding: 0px 70px; */
    font-weight: 700;
}

.banner-description{
    text-align: center;
    max-width: 850px;
    margin: 16px auto 32px; 
    line-height: 26px;
}

.banner-btn-div{
    justify-content: center;
}

.banner-image{
    width: 100%;
}

/* teams section */
.teams-section{
    max-width: 1440px;
    margin: 0px auto;
    align-items: center;
    
    gap:4rem;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    
}


.feature-title{
    font-size: 2.8rem;
}

.feature-description{
    font-size: 1rem;
    line-height: 26px;
    margin: 5px 0px 30px;
    text-align: justify;
}




/* media query */

/* small devices */
@media screen and (max-width:576px) {

    /* navbar */
    .navbar-section{
        flex-direction: column;
        gap: 25px;
    }
    
    /* banner */
    .banner-title{
        margin: 0px 25px 0px;
        padding: 0px 5px;
    }

    .banner-description{
        margin: 5px 95px 10px;
    }
    
    .btn-primary{       /* use count: 1 */
        padding: 15px 18px;
        font-size: .75rem;
    }

    /* teams-section */

    .teams-section{
        flex-direction: column;
        margin: 0px 25px;
    }

    .team-image-container{
        grid-template-columns: repeat(1, 2fr);
    }
}

/* medium devices */

@media screen and (min-width:576px) and (max-width: 992px){

    .nav-links{
        gap: 1.5rem;
    }

    .teams-section{
        flex-direction: column;
        gap: 4rem;
    }
    .team-image-container{
        width: 100%;
    }

    .team-image{
        width: 100%;
    }

    .team-feature-details{
        margin: 0px 50px;
    }
} 