@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

/* *{
    border: 1px dashed red;
}

body{
    border: 2px dashed green;
} */


.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


main{
    margin: 85px 0px 50px;
}

/* WHY IS NOT THIS WORKING???? */
/* section{    
    margin-top: 130px;
} */

/* ids */
#quick-list-style{
    color: #727272;
    font-weight: 400;
}

#orange-color{
    color:#FF900E;
}

#experience-btn{
    padding: 46px;
    margin-left: -90px;
    margin-top: -125px;
}

#experience-amount{
    font-size: 4rem;
    font-weight: 700;
}
#experience{
    font-size: 1.5rem;
    font-weight: 500;
}
/* shared styles */
.display-flex{
    display: flex;
}

.light-orange-bg{
    background-color: rgba(255, 144, 14, 0.10);
}

.text-dark-2{
    color: #424242;
}

.text-dark-3{
    color: #727272;
}


.btn-primary{
    font-family: "Work Sans", serif;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}




/* responsive style */

.navbar-section, .banner-section{
    max-width: 1440px;
    margin: 0px auto;
}


/* .team-image{
    width: 100%;
}

.team-feature-details{
    width: calc(100% - 100px);
} */


/* header-section */



/* navbar styles */
.header-section{
    padding: 50px 0px 30px;
}


.brand-name{
    font-size: 3rem;
}

.navbar-section{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.nav-item{
    list-style: none;
    font-size: 1.125em;
}

.nav-item > a{
    text-decoration: none;
    font-weight: 500;
}

.nav-links{
    gap: 3rem;
}

/* banner section */
.banner-content{
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    text-align: center;
    /* margin: 0px 290px 0px;
    padding: 0px 70px; */
    font-weight: 700;
}

.banner-description{
    text-align: center;
    max-width: 850px;
    margin: 16px auto 32px; 
    line-height: 26px;
}

.banner-btn-div{
    justify-content: center;
}

.banner-image{
    width: 100%;
}

/* teams section */
.teams-section{
    max-width: 1440px;
    margin: 0px auto;
    align-items: center;
    
    gap:4rem;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    
}


.team-feature-title{
    font-size: 2.8rem;
}

.feature-description{
    font-size: 1rem;
    line-height: 26px;
    margin: 5px 0px 30px;
    text-align: justify;
}

/* company features */
.company-features-section{
    justify-content: center;
    align-items: center;
    gap: 9rem;
    max-width: 1440px;
    margin: 130px auto 0px;
    
}
.company-features-title{
    font-size: 3rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}

.company-features-details{
    max-width: 580px;
}

.company-features-description{
    margin-bottom: 30px;
}

.company-feature-card{
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(65, 30, 30, 0.137);
    margin-bottom: 20px;
    /* border:1px dashed black; */

    padding: 30px;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

/* facts section */
.facts-section{
    max-width: 1440px;
    margin: 130px auto;
}

.facts-section-title{
    font-size: 3rem;
}

.facts-section-details{
    color: #424242;
    padding: 10px 0px;
}
.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.fact-card{
    /* box-shadow: 1px 1px 10px black; */
    max-width: 240px;
    padding: 25px;
    border: 1px solid #FF900E;
    border-radius: 12px;
}

.fact-card>h3{
    font-size: 3rem;
    font-weight: 600;
    color: #424242;
}
.fact-card>p{
    font-size: 1rem;
    font-weight: 600;
    color: #727272;
}

/* sponsor section */
.sponsor-section{
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
}
.sponsor-title{
    font-size: 3rem;
    font-weight: bold;
}
.sponsor-description{
    padding: 50px;
    max-width: 540px;
    margin: auto;
    
}
.sponsor-details{
    padding: 20px 0px;
}
.sponsor-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    filter: grayscale(100%);
}

.sponsor-images>img{
    margin: auto;
}

footer{
    border-radius: 12px;
    max-width: 1440px;
    max-height: 100px;
    margin: 150px auto;
}

footer>p{
    font-size: 1.5rem;
    text-align: center;
    background-color: #FFF4E7;
    padding: 40px;
}

/* media query */

/* small devices */
@media screen and (max-width:576px) {

    /* navbar */
    .navbar-section{
        flex-direction: column;
        gap: 25px;
    }
    
    /* banner */
    .banner-title{
        margin: 0px 25px 0px;
        padding: 0px 5px;
    }

    .banner-description{
        margin: 5px 95px 10px;
    }
    
    .btn-primary{       /* use count: 1 */
        padding: 15px 18px;
        font-size: .75rem;
    }

    /* teams-section */

    .teams-section{
        flex-direction: column;
        margin: 0px 25px;
    }

    .team-image-container{
        grid-template-columns: repeat(1, 2fr);
    }

    .company-features-section{
        flex-direction: column-reverse;
    }

    #experience-btn{
        padding: 20px;
        margin: -40px 130px;
    }

    #experience-amount{
        font-size: 2rem;
        font-weight: 700;
    }
    #experience{
        font-size: 1rem;
        font-weight: 500;
    }
    .facts-section-description{
        margin: 0px 20px;
    }

    .facts-card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    /* .fact-card{
        margin: 0px auto;
    } */
    .sponsor-images{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    footer{
        margin: 100px 0px;
    }
    footer>p{
        font-size: 1rem;
    }
}

/* medium devices */

@media screen and (min-width:576px) and (max-width: 992px){

    .nav-links{
        gap: 1.5rem;
    }

    .teams-section{
        flex-direction: column;
        gap: 4rem;
    }
    .team-image-container{
        width: 100%;
    }

    .team-image{
        width: 100%;
    }

    .team-feature-details{
        margin: 0px 50px;
    }

    .btn-primary{       
        padding: 25px 30px;
        font-size: 1rem;
    }

    .company-features-section{
        flex-direction: column-reverse;
    }

    #experience-btn{
        padding: 25px;
        margin: -40px 130px;
    }

    #experience-amount{
        font-size: 2.5rem;
        font-weight: 700;
    }
    #experience{
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .facts-section-description{
        margin: 0px 10px;
    }

    .facts-card-container{
        grid-template-columns: repeat(2, 1fr);
    }


    .sponsor-images{
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin: auto;
    }

    
} 